.row
  .col-md-8
    = render 'bicycles/bicycles'
  .col-md-4
    .well
      %h4 Bicycle Search
      .input-group
        %input.form-control{:type => "text"}/
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"}
            %span.glyphicon.glyphicon-search
    = render 'shared/categories'
    = render 'shared/widget'
%hr